@page "{id:int?}"
@model Universite.Pages.Instructors.IndexModel

@{
    ViewData["Title"] = "Enseignants";
}

<h2>Instructors</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Enseignements</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UnEnseignement.LesEnseignant)
        {
            string selectedRow = "";
            if (item.ID == Model.EnseignantID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @{
                        foreach (var ue in item.LesEnseigne)
                        {
                            @ue.LUE.ID @:  @ue.LUE.NomComplet <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.UnEnseignement.LesUE != null)
{
    <h3>UEs affectées par l'enseignant sélectionné</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Clé</th>
            <th>Numéro</th>
            <th>Intitule</th>
        </tr>

        @foreach (var item in Model.UnEnseignement.LesUE)
        {
            string selectedRow = "";
            if (item.ID == Model.UEID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "OnGetAsync", 
                                  new { UEID = item.ID })
                </td>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Numero
                </td>  <td>
                    @item.Intitule
                </td>
            </tr>
        }
    </table>
}